header{
    font-family: monospace;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

body{
    background-color: rgba(70, 142, 236);
    font: normal 15pt Arial;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
    font-family: monospace;
}

footer{
    font-family: monospace;
    color: white;
    text-align: center;
    font-style: italic;
}

.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(70, 142, 236); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: rgb(42, 21, 233);
    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    width: 100px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
    font-family: monospace;
  }